
		<div class="row-fluid">
			<div class="span9">
				<div class="ad_screen margin-t">
					<iframe width="560" height="315" src="http://www.youtube.com/embed/JRnvalwBhy8" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="events margin-t">
					<div class="row-fluid">
						<div class="span2">
							<div class="arrows">
								<a href="#"><img src="/img/icons/arrow-l.png"></a>
							</div>
						</div>
						<div class="span8">
							<div class="next_videos">
								<div class="row-fluid">
									<div class="span3">
										<iframe width="107" height="60" src="http://www.youtube.com/embed/aueurQ1t31Y" frameborder="0" allowfullscreen></iframe>
									</div>
									<div class="span3">
										<iframe width="107" height="60" src="http://www.youtube.com/embed/aueurQ1t31Y" frameborder="0" allowfullscreen></iframe>
									</div>
									<div class="span3">
										<iframe width="107" height="60" src="http://www.youtube.com/embed/aueurQ1t31Y" frameborder="0" allowfullscreen></iframe>
									</div>
									<div class="span3">
										<iframe width="107" height="60" src="http://www.youtube.com/embed/aueurQ1t31Y" frameborder="0" allowfullscreen></iframe>
									</div>
								</div>
							</div>
						</div>
						<div class="span2">
							<div class="arrows">
								<a href="#"><img src="/img/icons/arrow-r.png"></a>
							</div>
						</div>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span4">
						<div class="events margin-t">
							<p class="events_text"><a href="events.html">Current Points: <i>2222</i></a></p>
						</div>
					</div>
					<div class="offset3 span5">
						<div class="events margin-t">
							<div class="row-fluid">
								<div class="span4 offset2">
									<p class="events_text paypal">Or use</p>
								</div>
								<div class="span4">
									<img src="/img/icons/paypal.png" class="paypal_logo">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="span3 adverts">
				<div class="ads">
					<img src="../img/storage/generic_ad.jpg">
				</div>
			</div>
		</div>
