
<div class="row-fluid homepage_main">
	<div class="span3 ads">
		<div class="page-header school_logo">
			<h3 class="school_header">Top {{c}} schools for Utah</h3>
		</div>
			<select id="changeClass" ng-click="changeClassification()">
				<option value="">Change Classification</option>
				<option value="all">All</option>
				<option value="{{c.classification}}" ng-repeat="c in data.topSchools.classifications | orderBy:'classification'">{{c.classification}}</option>
			</select>
		<ul class="thumbnails">
			<li class="thumbnail top-schools" ng-repeat="school in data.topSchools.schools">
				<a href="/schools/school/{{school.school_id}}">
					<img ng-src="/img/{{school.logo}}" backup-image width="150">
					<p>{{school.school_name}} </p>
				</a>
			</li>
		</ul>
	</div>
	<div class="span6 messages">
				<div class="header_bar">
					<div class="row-fluid">
						<h4 class="white-header">Search Schools</h4>
						<div class="row-fluid">
							<div class="span3">
								<select class="selection">
									<option>Select State</option>
									<option>Utah</option>
								</select>
							</div>
							<div class="span9 school-search-bar">
								<input type="text" placeholder="Search" class="span12" ng-model="schoolSearch" ng-change="searchSchools()">
								<ul ng-show="schoolSearch" class="search-schools">

									<li ng-repeat="school in schools | limitTo:10"><a href="/schools/school/{{school.school_id}}/students" class="pull-right">View Students</a><a href="/schools/school/{{school.school_id}}">{{school.school_name}} </a> </li>
								</ul>
							</div>
						</div>
						
					</div>
				</div>
				<div class="create_post">
					<form ng-submit="newPost()">
						<textarea class="span12 whats_up_text" rows="4" placeholder="What's up?" ng-model="newPostBody"></textarea>
						<div class="row-fluid input_footer">
							<button class="btn btn-small btn-primary pull-right" type="submit">Post</button>
						</div>
					</form>
				</div>
				<div class="post" ng-repeat="post in data.school.posts | orderBy:'post_id':true">
					<ng-include src="'/partials/post_partial.html'"></ng-include>
				</div>
				
			</div>
			<div class="span3 adverts">
				<div class="school_logo">
					<div class="row-fluid">
						<h3 class="school_header">{{data.school.school_name}} &bull; <a href="/schools/school/{{data.school.school_id}}/students">See Students</a></h3>
					</div>
					<div class="row-fluid">
						<img ng-src="/img/{{data.school.logo}}" backup-image>
					</div>
				</div>
				<div class="ads">
					<ng-include src="'/partials/ad.html'"></ng-include>
				</div>
			</div>
</div>
